LAMATIC_API_URL=your_lamatic_api_url
LAMATIC_PROJECT_ID=your_project_id
GLOBAL_TRAVEL_AGENT=your_agent_id
LAMATIC_API_KEY=your_api_key
LAMATIC_FLOW_URL=your_flow_url
CHATBOT_FLOW_ID=your_chatbot_flow_id

GOOGLE_PLACES_API_KEY=your_google_places_api_key
NEXT_PUBLIC_GOOGLE_PLACES_API_KEY=your_google_places_api_key
